.dots-list {
  display: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 23px;
  margin-left: -10px;
  list-style: none;
  justify-content: center;
}

.dots-list .dots-list__item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cccccc;
  cursor: pointer;
}

.dots-list .dots-list__item--active {
  width: 15px;
  height: 15px;
  background-color: #0062ff;
}

.dots-list .dots-list__item:nth-child(n + 2) {
  margin-left: 20px;
}

@media (max-width: $mobile-width-only) {
  .dots-list {
    display: flex;
    justify-content: center;
  }

  .dots-list .dots-list__item {
    align-self: center;
  }
}
