.main-form {
  margin-top: 73px;
  padding-top: 38px;
  background-color: #ededed;
}

.main-form__rate-wrapper {
  margin: 0 15px;
}

.main-form__rate-wrapper h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-family: $consolas;
  margin: 0;
}

.main-form__stars {
	width: 135px;
  font-size: inherit;
  padding: 0;
  border: 0;
  margin-top: 10px;
}

.main-form__stars-wrapper {
  position: relative;
  width: 125px;
  height: 25px;
  margin: 0;
  font-size: inherit;
  background-image: url('../../img/icon-star-empty.svg');
  background-repeat: repeat-x;
}

.main-form__stars input {
  position: absolute;
  margin: 0;
  height: 25px ;
  background-repeat: repeat-x;
  appearance: none;
}

.main-form__stars input:checked,
.main-form__stars input:hover {
  background-image: url('../../img/icon-star-full.svg');
}

.main-form__stars input:hover ~ .main-form__stars input {
  background-image: url('../../img/icon-star-empty.svg');
}

.main-form__stars input:nth-last-of-type(1) {
  z-index: 5;
  width: 25px;
}

.main-form__stars input:nth-last-of-type(2) {
  z-index: 4;
  width: 50px;
}

.main-form__stars input:nth-last-of-type(3) {
  z-index: 3;
  width: 75px;
}

.main-form__stars input:nth-last-of-type(4) {
  z-index: 2;
  width: 100px;
}

.main-form__stars input:nth-last-of-type(5) {
  z-index: 1;
  width: 125px;
}

.main-form__comment-wrapper {
  margin: 0 15px;
}

.main-form__comment-wrapper h4 {
  margin: 0;
  margin-top: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-family: $consolas;
}

.main-form__form-wrapper {
  margin: 0 15px;
}

.main-form__comment-wrapper form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
  padding-bottom: 40px;
}

.main-form__books-wrapper {
  position: relative;
  cursor: pointer;
}

.main-form__books-list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  min-height: 183px;
  list-style: none;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 2px 15px rgba(154, 154, 154, 0.5);
}

.main-form__books-list li {
  position: relative;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  cursor: pointer;
}

.main-form__books-list li:hover,
.main-form__books-list li:focus {
  outline: none;
  background-color: #ededed;
}

.main-form__books-list li:hover::before,
.main-form__books-list li:focus::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 7px;
  background-color: #0062ff;
}

.main-form__books-wrapper--closed .main-form__books-list {
  display: none;
}

.main-form__books-wrapper--opened .main-form__books-list {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
}

.main-form__comment-wrapper input {
  width: 226px;
  height: 50px;
  padding-left: 20px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.main-form__comment-wrapper .main-form__mail-wrapper,
.main-form__comment-wrapper .main-form__books-wrapper {
  margin-left: 30px;
}

.main-form__mail-wrapper input ,
.main-form__name-wrapper input {
  border: none;
  cursor: pointer;
}

.main-form__text-wrapper {
  margin-top: 20px;
  width: 100%;
}

.main-form__text-wrapper textarea {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  min-height: 120px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  resize: none;
  box-sizing: border-box;
  cursor: pointer;
}

.main-form__comment-wrapper button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-family: "Arial", sans-serif;
  width: 226px;
  height: 50px;
  margin-top: 12px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0062ff;
  cursor: pointer;
}

.main-form__input-wrapper {
  position: relative;
}

.main-form__input-wrapper input {
  border: 2px solid #7f7f7f;
  box-sizing: border-box;
  border-radius: 6px;
}

.main-form__input-wrapper button {
  position: absolute;
  margin: 0;
  right: 30px;
  top: 15px;
  width: 25px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.main-form__books-wrapper--closed .main-form__input-wrapper button {
  position: absolute;
  right: 10px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 10px;
    width: 10px;
    height: 2px;
    z-index: 10;
    background-color: #777777;
    cursor: pointer;
  }

  &::before {
    transform: rotate(-45deg);
    right: 5px;
  }

  &::after {
    transform: rotate(45deg);
    right: 11px;
  }
}

.main-form__books-wrapper--opened .main-form__input-wrapper button {
  position: absolute;
  right: 10px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    width: 10px;
    height: 2px;
    z-index: 10;
    background-color: #777777;
    cursor: pointer;
  }

  &::before {
    transform: rotate(45deg);
    right: 5px;
  }

  &::after {
    transform: rotate(-45deg);
    right: 11px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-form {
    margin-top: 20px;
    padding-top: 38px;
    background-color: #ededed;
  }

  .main-form__rate-wrapper,
  .main-form__comment-wrapper,
  .main-form__form-wrapper {
    margin: 0 20px;
  }

  .main-form__stars-wrapper {
    margin-top: 7px;
  }

  .main-form__comment-wrapper h4 {
    margin-top: 19px;
  }

  .main-form__comment-wrapper input {
    width: 280px;
  }

  .main-form__comment-wrapper .main-form__name-wrapper {
    margin-left: 0;
    margin-top: 0;
  }

  .main-form__comment-wrapper .main-form__mail-wrapper,
  .main-form__comment-wrapper .main-form__books-wrapper {
    margin-left: 0;
    margin-top: 10px;
  }

  .main-form__comment-wrapper form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    padding-bottom: 40px;
    justify-content: center;
  }

  .main-form__text-wrapper {
    margin-top: 10px;
  }

  .main-form__comment-wrapper button {
    width: 100%;
    margin-top: 4px;
    height: 44px;
  }

  .main-form__input-wrapper button {
    margin: 0;
    right: 30px;
    top: 15px;
    width: 25px;
  }
}
