.main-conclusion {
  margin: 0 15px;
  margin-top: 45px;
}

.main-conclusion h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  font-family: $consolas;
}

.main-conclusion p {
  margin: 0;
  margin-top: 26px;
  line-height: 24px;
}
