.main-header {
  margin-top: 80px;
}

.main-header h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  font-family: $consolas;
  margin: 0;
  text-align: center;
  color: #0062FF;
}

@media (max-width: $mobile-width-only) {
  .main-header {
    margin-top: 40px;
  }

  .main-header h1 {
    font-size: 23px;
    line-height: 25px;
  }
}
