.main-conclusion {
  margin-top: 42px;
}

.main-conclusion__wrapper {
  margin: 0 15px;
}

.main-conclusion h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  font-family: $consolas;
}

.main-conclusion p {
  margin: 0;
  margin-top: 29px;
  line-height: 24px;
}

@media (max-width: $mobile-width-only) {
  .main-conclusion {
    margin-top: 25px;
    padding-bottom: 10px;
  }

  .main-conclusion__wrapper {
    margin: 0 20px;
  }

  .main-conclusion h3 {
    font-size: 21px;
    line-height: 36px;
  }

  .main-conclusion p {
    margin-top: 21px;
    font-size: 14px;
    line-height: 18px;
  }
}
